body {
    display: flex;
    justify-content: center;
    background-color: #090519;
    margin: 0;
    font-family: "Source Code Pro";
    color: white;
  }
  
  #container {
    position: relative;
    max-width: min(100dvw, 400px);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin: 0;
    font-weight: 700;
  }
  
  #sub-title {
    display: inline-block;
    text-align: center;
    letter-spacing: 2.5px;
  }
  
  #video-container {
    display: none;
    position: absolute;
    top: 1rem;
    background-color: rgba(83, 81, 79);
    border-radius: 16px;
    padding: 16px 16px;
  }
  
  #video {
    border-radius: 12px;
    max-height: 70vh;
  }
  
  #content {
    height: 100vh;
    width: 90%;
  }
  
  #text-container {
    background-color: #1d1834;
    border-radius: 12px;
    margin: 1rem 0 1rem 0;
    padding: 16px 4px;
  }
  
  p {
    color: #beb8e0;
    padding: 8px 12px;
    margin: 0;
  }
  
  #project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 1rem 0 22px 0;
    background-color: #1d1834;
    color: white;
    border-radius: 12px;
  }
  
  #contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 12px;
    background-color: #1d1834;
    padding: 1rem 0 22px 0;
  }
  
  h2 {
    text-align: center;
    font-weight: 400;
    margin: 0;
  }
  
  ul {
    padding: 0;
    margin-bottom: 0;
  }
  
  li {
    text-align: center;
  
    border: 1px #8a75f0 solid;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    list-style-type: none;
    margin-bottom: 1rem;
    background-color: #090519;
  }
  
  li:active a {
    transition: ease-in-out 150ms;
    color: #868393;
    transition: ease-in-out 150ms;
    box-shadow: 1px 1px 10px 0px #2f0ed0;
    background-color: #030108;
  }
  
  a {
    display: block;
    text-decoration: none;
    font-size: large;
    color: #beb8e0;
    cursor: pointer;
  }
  
  #playButton {
    height: 70px;
    cursor: pointer;
    margin: 1rem;
  }
  
  #github-repo {
    margin: 0;
  }
  
  #cv {
    margin: 0;
  }
    